.nav {
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid #eaeaea;
  z-index: 999;
}
.navcontainer {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 40%;
  margin: auto;
}
.navcontainer li {
  font-size: 20px;
  color: #949494;
}
.navcontainer .active {
  color: #ffffff;
  font-size: 25px;
}
