.heroContainer {
  padding: 0px 50px;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.intro h1 {
  font-weight: 600;
  font-size: 60px;
  line-height: 20px;
  color: whitesmoke;
}

.hiContainer {
  background-color: red;
}
.myName {
  position: relative;
  color: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(90deg, #de6161 0%, #2657eb 100%);

  background-position: -100%;
  background-size: 200% 100%;
  transition: all 0.2s linear;
}

.myName:hover::before {
  width: 100%;
}
.myName:hover {
  background-position: 0;
}
.intro a:hover {
  background-color: #454545;
}
.contact {
  position: relative;
  background-color: #2a2a2a;
  color: white;
  padding: 7px 25px;
  border-radius: 50px;
  font-size: larger;
}
.contact:hover {
  color: 218380;
}
.contact::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #2a2a2a;
  border-bottom: 1px solid rgba(255, 255, 255, 0.453);
  z-index: 1;
  position: absolute;
  top: 0;
  border-radius: 50px;
  left: 0;
  transition: all 0.2s ease-in-out;
}
.contact:hover::before {
  height: 0%;
  border: none;
}
