.blogCard {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 70%;
  margin: 15px 0px;
  padding: 0px 15px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f3de8a;
}
.blogCard h1 {
  color: #272838;
}
.blogCard h4 {
  font-weight: 500;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #272838;
}
.blogCard p {
  color: #9a9a9a;
}
.cardTop {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 20px;
}
