.container {
  padding: 0px 5%;
}
.postButton {
  border: none;
  padding: 10px 30px;
  background-color: tomato;
  color: white;
  border-radius: 5px;
  display: block;
  font-size: large;
  margin: 20px auto;
  cursor: pointer;
}
.postButton:hover {
  outline: 1px solid red;
  background-color: tomato;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.inputContainer input {
  padding: 10px;
  border: 2px solid tomato;
  outline: none;
  border-radius: 5px;
}
