.projectCard {
  display: flex;
  justify-content: space-between;
  padding: 20px 25px;
  background-color: #947bd3;
  color: white;
  margin: 15px 0px;
  border-radius: 5px;
  width: 70%;
  transition: all 0.1s linear;
}
.projectCard:hover {
  transform: scale(1.05);
}
