html,
body {
  padding: 0;
  margin: 0;
  font-family: JetBrains Mono;
  box-sizing: border-box;
  background-color: #272838;

  background: linear-gradient(90deg, #272838 25px, transparent 100%) center,
    linear-gradient(#272839 25px, transparent 100%) center, #987bea;
  background-size: 27px 27px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@keyframes hi_animation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.hii {
  position: absolute;
  top: -10px;
  transform-origin: bottom;
  cursor: pointer;
}
.hii:hover {
  animation: hi_animation 1000ms linear infinite;
}
